<section id="admin_crud">
	<div class="wrapper">
		<div class="card-left">
			<div class="card-item">
				<h3>Thêm sản phẩm</h3>
				<form action="/admin/CRUD" method="POST" enctype="multipart/form-data">
					<label for="">Tên sản phẩm :</label><br />
					<input type="text" placeholder="Tên sản phẩm" name="name" /><br />
					<label for="">Giá :</label><br />
					<input type="text" placeholder="Nhập giá sản phẩm" name="price" /><br />
					<label for="">Mô tả :</label><br />
					<input type="text" placeholder="Nhập mô tả " name="description" /><br />
					<label for="">Hình ảnh :</label><br />
					<input type="file" name="image" /><br />
					<button id="btn" type="submit">Thêm sản phẩm</button>
				</form>
			</div>
		</div>
		<div class="card-right">
			<table class="card-list" border="1" id="hideLine">
				<thead>
					<tr>
						<th>Tên sản phẩm</th>
						<th>Hình ảnh</th>
						<th>Giá</th>
						<th>SL Mua</th>
						<th>Mô Tả</th>
					</tr>
				</thead>
				<tbody>
					{{#each productList}}
						<tr>
							<td>{{this.name}}</td>
							<td><img src="../img/{{this.image}}" alt="" class="img-admin" /> </td>
							<td class="price-admin">{{this.price}} $</td>
							<td>{{this.number_of_orders}}</td>
							<td>{{this.description}}</td>
							<td class="action">
								<form action="delete/{{this._id}}" method="post">
									<button class="bx bx-trash" type="submit"></button>
								</form>
								<a href="/admin/{{this._id}}/edit">
									<i class="bx bx-edit-alt"></i>
								</a>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</section>