<section class="detail" id="detail">
    <button class="back-home"><a href="/">Quay lại</a></button>
    <form class="box-detail" action="/cart/addToCart/{{showDetail._id}}" method="POST">
        <div class="detail-col1">
            <img src="../img/{{showDetail.image}}" alt="" />
        </div>
        <div class="detail-col2">
            <h3>thông tin Sản phẩm</h3>
            <span>Tên sản phẩm : {{showDetail.name}}</span>
            <span>Giá sản phẩm : {{showDetail.price}}$</span>
            <span>Số lượt xem : {{showDetail.view}}</span>
            <span>Đánh giá sản phẩm : 5 Sao </span>
            <span>Mô tả : {{showDetail.description}}</span>
            <input
                type="number"
                class="quantity"
                min="1"
                max="20"
                value="1"
                id="valueInput"
                name="quantity"
            />
            <button id="addCart">Mua ngay</button>
        </div>

    </form>
    <div id="notifi"></div>

    <form class="comments" method="POST">
        <h2>Bình luận</h2>
        <textarea id="inforComment" name="content"></textarea>
        {{#if isLoggedIn}}
            <button id="sendComment" type="submit">Send
                <i class="fa-solid fa-paper-plane"></i></button>
        {{else}}
            <a href="/auth/login" id="stateLogin">Vui lòng đăng nhập để bình luận</a>
        {{/if}}
        <div id="listComments">
            {{#each commentList}}
                <div class="boxComment">
                    <span><i class="bx bxs-user-circle"></i>
                        {{this.username}}
                        <p id="time"><i class="bx bx-time-five"></i> {{this.commentTime}}</p>
                    </span><br />
                    <span id="contentOfUser">{{this.content}}</span>
                    <hr class="lineComment" />
                </div>
            {{/each}}
        </div>
    </form>
</section>