<section id="cart">
    <div class="cart-container">
        <div class="cart-item1">
            <h2>Giỏ hàng</h2>
            {{#if checkCart}}
                <table id="tableList">
                    <tbody id="cartList">
                        {{#each cartList}}
                            <tr>
                                <td><img src="../img/{{this.image}}" alt="" /></td>
                                <td>{{this.name}}</td>
                                <td>
                                    <div class="quantity-cart">
                                        <form action="/cart/decrease/{{this._id}}" method="POST">
                                            <button class="reduce">-</button>
                                        </form>
                                        <span class="quantity-product">{{this.quantity}}</span>
                                        <form action="/cart/increase/{{this._id}}" method="POST">
                                            <button class="increase">+</button>
                                        </form>
                                    </div>
                                </td>
                                <td>Giá : {{this.price}} $</td>
                                <td>Tổng : {{this.total}} $</td>
                                <form action="cart/deleteCart/{{this._id}}" method="POST">
                                    <td><button
                                            class="bx bxs-x-circle"
                                            id="delete_cart"
                                        ></button></td>
                                </form>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p class="text-waring">{{text}} 😘</p>
            {{/if}}
        </div>

        <div class="cart-item2">
            <div class="checkout-container">
                <h2>Thanh toán</h2>

                <form action="cart/form_user" method="POST">
                    <div class="subTotal">
                        <span>Tổng tiền sản phẩm </span>
                        <span id="totalAmount">{{subTotal}} $</span>
                    </div>
                    <div class="shipping">
                        <span>Phí shipping</span>
                        <span>{{shipping}} $</span>
                    </div>
                    <hr />
                    <div class="totalPrice">
                        <span>Tổng tiền thanh toán : </span>
                        <span id="totalPrice">{{total}} $</span>
                    </div>
                    {{#if checkCart}}
                        <button id="checkOut" type="submit">Tiến hành thanh toán</button>
                    {{else}}
                        <button id="checkOut" type="submit" disabled>Tiến hành thanh toán</button>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
</section>